# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = -100; z = 20; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 72.0; # In degree
};

# Primitives in the scene
primitives:
{
    # List of cylinders
    cylinders = (
        { name = "cylinder1"; x = 50; y = 60; z = 0; r = 15; axis = "Z"; color = { r = 255; g = 64; b = 64; }; material = "FlatColor" ; } ,
        { name = "cylinder2"; x = 50; y = 60; z = 50; r = 10; axis = "X"; color = { r = 64; g = 255; b = 64; }; material = "FlatColor" ; } ,
        { name = "cylinder3"; x = 50; y = 60; z = 50; r = 5; vector = { x = 0; y = 1; z = 0}; color = { r = 64; g = 64; b = 255; }; material = "FlatColor" ; }
    ) ;

    # List of planes
    planes = (
        { name = "plane1"; x = 0; y = 0; z = -20; axis = "Z" ; color = { r = 42; g = 42; b = 42; }; material = "FlatColor" ; }
    ) ;

};

# Light configuration
lights:
{
    ambiant = 0.4; # Multiplier of ambient light
    diffuse = 0.6; # Multiplier of diffuse light

    # List of point lights
    points = (
        { name = "light1"; x = 400; y = 100; z = 500; }
    ) ;

    # List of directional lights
    directional = () ;
};

# Transformation configuration
transformations = (
    { type = "translation"; target = "cylinder1" ; x = 0; y = 0; z = 0; }
) ;
